.card
     
    &__heading
        font-size: 2.3rem
        text-transform: uppercase
.users-heading
    margin-left: 1.8rem
    padding-top: 7.2rem
    font-size: 3.8rem
    text-align: center

h3
    font-size: 2.5rem
    margin-top: 1.9rem

ul
    list-style: none
    margin-top: 1.5rem
    margin-left: 2.8rem

li
    text-align: center
    font-size: 1.5rem
    padding: 1rem

    &:not(:last-child)
        border-bottom: 1px solid #ccc
ul li
    font-size: 1.8rem
