.card
     
    &__heading
        font-size: 2.3rem
        text-transform: uppercase
.users-heading
    margin-left: 1.8rem
    padding-top: 7.2rem
    font-size: 3.8rem

h3
    font-size: 2.5rem
    margin-top: 1.9rem

ul
    list-style: none
    margin-top: 1.5rem
    margin-left: 2.8rem
ul li
    font-size: 1.8rem
